<div class="container text-center">
    <div class="carousel-item active bg-dark position-relative">
        <img src="~/img/grp1.png" class="d-block w-100 h-100" alt="background">
        <div class="row position-absolute top-50 start-50 translate-middle">
            <h1 class="col-6 display-1 text-white">
                <strong>
                    X-Kwiz
                </strong>
            </h1>
            <img class="col-6 d-block mt-4" src="~/img/notebook-dynamic-color.png"/>
        </div>
    </div>
</div>
